body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* head */
#head{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.head-menu{
    display: flex;
    justify-content: space-around;
    width: 20%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-top: 25px;
}
.head-logo{
    display: flex;
    justify-content: space-around;
}
.head-right{
    display: flex;
    justify-content: space-around;
}
.input{
    border-radius: 5px;
    border: 1px solid rgba(14, 10, 10, 0.3);
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    margin-top: 10px;
    height: 35px;

    
    padding: 5px 10px 5px 35px;
    /* padding bên trong */
    /* margin bên ngoài */
}
#head-right-search{
    display: flex;
    align-items: center;
    position: relative; 
    /* position dùng để cố định lại vùng */

}
.bi-search{
    position: absolute;
    /* Nổi lên */
    left: 10px;
    margin-top: 8px;

}
/* banner */
#banner{
    display: flex;
    width: 100%;
    margin-top: 15px;
    position: relative;
}
.banner-title{
    font-size: 65px;
    position:absolute;
    top:25%; 
    left:10%;
    color: rgb(50,56,66);
}
.text-banner{
    font-size: 25px;
    position:absolute;
    top:38%; 
    left:10%;
    color: rgb(130,125,122);
}
/* sort */
#sort{
    /* margin-top: 10px; */
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color:white;
}
#sort-left{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
}
.sort-left-ds{
    color: rgb(69,157,122);
    text-decoration: none;
    width: 180px;
    padding: 15px;
    /* bỏ dấu gạch chân */
    font-size: 20px;
}
.sort-left-ds:hover{
    color: white;
    background-color: rgb(69,157,122);
    width: 180px;
    border-radius: 5%;
}
#sort-right{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
#text-sort-right{
    border-radius: 5%;
    border: 2px solid rgba(14, 10, 10, 0.2);
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}
.button{
    width: 100px;
    font-size: 17px;
    border-radius: 5%;
    border: 2px solid rgba(14, 10, 10, 0.3);
}
/* products */
#product1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}
#product1 h4 {
    cursor: pointer;
}
#product2{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#product3{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.prd1{
    position: relative; 
    /* cố định */
}
.cart{
    position: absolute;
    right: 0;
    /* canh qua bên phải */
    bottom: 10px;
}
/*  */
#number-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#num{
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}
.num-page-ds{
    text-decoration: none;
    color: black;
    padding: 5px;

}
.num-page-ds:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 5px 10px;
    background-color:grey;
    border-radius: 50%;
}
/* footer */
#footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(29,33,40);
    height: 300px;
    width: 100%;
}
#footer-left{
    display: flex;
    justify-content: space-around;
    width: 40%;
    color: white;
    
}
#footer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: aliceblue;
}
#input-footer{
    display: flex;
    justify-content: space-around;
}
#text-footer{
    border-radius: 5%;
    border: 2px solid rgba(14, 10, 10, 0.3);
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    height: 50px;
    width: 90%;
}
#button-footer{
    width: 95px;
    font-size: 16px;
    border-radius: 5%;
    border: 2px solid rgba(14, 10, 10, 0.3);
    background-color: rgb(69,157,122);
}
#social{
    margin-top: auto;
}
