#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* head */
#head{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.head-menu{
    display: flex;
    justify-content: space-around;
    width: 20%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-top: 25px;
}
.head-logo{
    display: flex;
    justify-content: space-around;
}
.head-right{
    display: flex;
    justify-content: space-around;
}
#input{
    border-radius: 5%;
    border: 2px solid rgba(14, 10, 10, 0.3);
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    margin-top: 10px;
    height: 35px;
}
/* banner */
#banner{
    display: flex;
    width: 100%;
    margin-top: 15px;
    position: relative;
}
.banner-title{
    font-size: 65px;
    position:absolute;
    top:25%; 
    left:10%;
    color: rgb(50,56,66);
}
.text-banner{
    font-size: 25px;
    position:absolute;
    top:38%; 
    left:10%;
    color: rgb(130,125,122);
}
/* sort */
#sort{
    /* margin-top: 10px; */
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color:white;
}
#sort-left{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
}
.sort-left-ds{
    color: rgb(69,157,122);
    text-decoration: none;
    height: 50px;
    width: 180px;
    /* bỏ dấu gạch chân */
    font-size: 20px;
}
.sort-left-ds:hover{
    color: white;
    background-color: rgb(69,157,122);
    height: 50px;
    width: 180px;
    border-radius: 5%;
}
#sort-right{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
#text-sort-right{
    border-radius: 5%;
    border: 2px solid rgba(14, 10, 10, 0.2);
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}
.button{
    width: 100px;
    font-size: 17px;
    border-radius: 5%;
    border: 2px solid rgba(14, 10, 10, 0.3);
}
/* products */
#product1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}
#product2{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#product3{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#number{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#num{
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}
/*  */
#footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(29,33,40);
    height: 300px;
    width: 100%;
    
}
#footer-left{
    display: flex;
    justify-content: space-around;
    width: 40%;
    
}
#footer-right{
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
}
.footer-right-ds, .footer-left-ds, .social{
    color: rgb(220,223,228);
}